[package]
edition = "2021"
name = "piped-proxy"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.3.1"
image = "0.24.6"
once_cell = "1.17.1"
qstring = "0.7.2"
regex = "1.8.1"
reqwest = {version = "0.11.17", features = ["rustls-tls", "stream", "brotli", "gzip"], default-features = false}
tokio = {version = "1.28.1", features = ["full"]}
webp = "0.2.2"
