[package]
edition = "2021"
name = "piped-proxy"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.3.1"
image = "0.24.6"
libwebp-sys = "0.9.2"
mimalloc = "0.1.37"
once_cell = "1.18.0"
qstring = "0.7.2"
ravif = { version = "0.11.2", optional = true }
rgb = { version = "0.8.36", optional = true }
regex = "1.9.1"
reqwest = { version = "0.11.18", features = ["rustls-tls", "stream", "brotli", "gzip"], default-features = false }
tokio = { version = "1.29.1", features = ["full"] }

[features]
avif = ["dep:ravif", "dep:rgb"]
